version: '3.7'

services:
  #Образ для бэка (Laravel)
  module1:
    build:
      context: ./images/apache-php
      args:
        SSH_PASS: ${USER_PASSWORD:-password}
        SSH_USER: ${USER_LOGIN:-login}
        LARAVEL: ${LARAVEL:-false}
    environment:
        - APACHE_RUN_USER=${USER_LOGIN:-login}
        - APACHE_RUN_GROUP=${USER_LOGIN:-login}
        - LC_CDPATH=/var/www/html
    restart: always
    container_name: ${USER_LOGIN:-login}_m1
    volumes:
      - ./data/${USER_LOGIN:-login}_m1:/var/www/html
      - ./images/apache-php/start.sh:/root/start.sh
      - ./images/apache-php/sshd_config:/etc/ssh/sshd_config
    ports:
       - ${SSH_PORT_M1:-1111}:22
 
  #Образ для базы данных mariadb  
  mariadb:
      image: mariadb
      restart: always
      environment: 
          MYSQL_DATABASE: ${DB_NAME:-db}
          MYSQL_ROOT_PASSWORD: ${USER_DB_PASSWORD:-password}
          MYSQL_USER: ${USER_LOGIN:-login}
          MYSQL_PASSWORD: ${USER_PASSWORD:-password}
      container_name: ${USER_LOGIN:-login}_mariadb
      volumes:
          - ./data/${USER_LOGIN:-login}_mariadb:/var/lib/mysql

  #Образ для phpmyadmin
  phpmyadmin:
      image: phpmyadmin/phpmyadmin
      restart: always
      container_name: ${USER_LOGIN:-login}_phpmyadmin
      environment:
      - PMA_HOST=mariadb
      - PMA_ABSOLUTE_URI=http://localhost:8080/phpmyadmin
      depends_on:
          - mariadb

  #Образ для проксирующего сервера
  proxy:
    build:
      context: ./images/proxy
      args:
        SERVER_NAME: ${SERVER_NAME:-localhost}
        WEB_PORT: ${WEB_PORT:-8080}
    container_name: ${USER_LOGIN:-login}_proxy
    restart: always
    ports:
      - ${WEB_PORT:-8080}:80
    depends_on:
      - module1
      - phpmyadmin
      
networks:
  default:
    name: ${USER_LOGIN:-login}_net